---
const { source, className } = Astro.props;
import DynamicIcon from "@/helpers/DynamicIcon";
import { Icon } from 'astro-icon/components';
export interface ISocial {
  name: string;
  icon: string;
  link: string;
}
---

<ul class={className}>
  {
    source.map((social: ISocial) => (
      <li>
        <a
          aria-label={social.name}
          href={social.link}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">{social.name}</span>
          
          {/* Core logic: Determine if the icon is a local path or library name */}
          {social.icon.startsWith("/") ? (
            <img 
              src={social.icon} 
              alt={social.name} 
              class="w-16 h-16 inline-block" 
              style="filter: grayscale(1) brightness(0.8);" 
            />
          ) : (
            <Icon name={social.icon} class="w-16 h-16"/>
          )}
        </a>
      </li>
    ))
  }
</ul>
